<!DOCTYPE html>
<html>
<head>
<title>Radio 1190 – {% block title %}ThThe best independent music{% endblock %}</title>
<style type="text/css">
.style1 {font-size: medium}
</style>
<link href="/main.css" rel="stylesheet" type="text/css">
<script src="/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body style="margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
<div id="header_main">

	<div id="radio1190"><a href="/"><img src="/images/current/radio1190_.jpg" width="990" height="220" alt="radio1190" style="border:none"></a>
	  <div id="hilo">
	    <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','350','height','25','title','Now Playing','src','http://radio1190.org/ticker/current.swf','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','http://radio1190.org/ticker/current' ); //end AC code
        </script>
        <noscript>
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="350" height="25" title="Now Playing">
          <param name="movie" value="http://radio1190.org/ticker/current.swf">
          <param name="quality" value="high">
          <embed src="http://radio1190.org/ticker/current.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="350" height="25"></embed>
        </object>
        </noscript>
        <br>
	    Listen: <a href="/1190high.m3u">Mp3 high</a> <a href="/1190low.m3u">Mp3 low</a> <a href="/1190ogghigh.m3u">Ogg high</a> <a href="/1190ogglow.m3u">Ogg low</a></div>
  </div>
	
<ul id="navigation">
  <li><a href="/"><span>Home</span></a></li>
  <li><a href="/music.html"><span>Music</span></a></li>
  <li><a href="/netcast.html"><span>Netcast</span></a></li>
  <li><a href="/schedule.html"><span>Schedule</span></a></li>
  <li><a href="/concerts/"><span>Concerts</span></a></li>
  <li><a href="/playlist/"><span>Playlists</span></a></li>
  <li><a href="/press.html"><span>Press</span></a></li>
  <li><a href="/sponsor.html"><span>Support us</span></a></li>
  <li><a href="/contact.html"><span>Contact us</span></a></li>
  <li><a href="mailto:dj@radio1190.org"><span>Requests</span></a></li>
  <li><a href="/staffpicks.html"><span>Album Reviews  </span></a></li>
  <li id="nav"><a href="http://www.radio1190.org/blog/"><span>Blog</span></a></li>
</ul>
</div>

<div id="content">
<div id="content1">
{% block content %} Someone forgot to add content {% endblock %}
<div style="clear:both"></div>

<div id="footer">
  <ul>
    <li><a href="/music.html" >music</a></li>
    <li><a href="/netcast.html" >netcast</a></li>
    <li><a href="/schedule.html" >schedule</a></li>
    <li><a href="/concerts/" >concerts</a></li>
    <li><a href="/playlist/" >playlists</a></li>
    <li><a href="/aboutus.html" >about us </a></li>
    <li><a href="/sponsor.html" >support us </a></li>
    <li><a href="/contact.html" >contact us </a></li>
    <li><a href="mailto:dj@radio1190.org" >requests </a></li>
    <li><a href="/staffpicks.html" >staff picks </a></li>
  </ul>
</div>

</div></div>

</body>
</html>
